<!DOCTYPE html>
<html lang="en" xmlns:th="http//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users/edit}" th:object="${user}">
    <label for="userid"> Enter user id:</label>
    <input readonly type="text" th:field="*{id}" id="userid"/>
    <br>
    <label for="username"> Enter new user name:</label>
    <input type="text" th:field="*{name}" id="username"/>
    <br>
    <label for="userage"> Enter new user age:</label>
    <input type="text" th:field="*{age}" id="userage"/>
    <br>
    <label> Check field about criminal past:</label>
    <input type="checkbox" th:field="*{danger}" /><br/>
    <input type="submit" value="Update">
    <br>
</form>
</body>
</html>